<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row row-cols-auto align-items-center">
    <div class="col">
      <h2>Courses</h2>
    </div>
    <div class="col">
      <% if current_user.instructor? %>
        <%= link_to '+', new_course_path, class:'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="container" style="display:flex; flex-flow:row wrap; justify-content:left;">
  <% @courses.each do |course| %>
    <div class="card" style="width: 18rem; margin-right: 20px; margin-bottom: 20px;">
      <div class="card-body">
        <h5 class="card-title"><%= course.course_name %></h5>
        <strong>created by user_id: <%= course.user_id %></strong>
        <p class="card-text"> </p>
        <%= link_to 'Show', course , class:'btn btn-secondary' %>
        <% if policy(course).update? %>
          <%= link_to 'Edit', edit_course_path(course), class:'btn btn-secondary'  %>
        <% end %>
        <% if policy(course).destroy? %>
          <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'  %>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>
</div>
